.DS_STORE
.server*/
.gradle/
build/
*.iml
*.idea
*/.classpath
*/.project
*/.settings
*/bin
*/*.jar
*/lib/spigot*.jar
*/libs/spigot*.jar
*/dist/lib/spigot*.jar
*/build
*/nbproject
.metadata/
.recommenders/
converdonatorranks/
SkyblockUUIDPopulator/
BarAPI/
ChestShop/
ChestShop-3/
RedeemMCMMO/
Stuff/
SkyWars/
uaconv/
uSkyBlock/

